# Working Through. 
This notebook is to work through actually obtaining data that will turn into our python files.

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Russell_3000.csv')
df.head()

,Ticker,Name,Sector,Asset Class,Market Value,Weight (%),Notional Value,Quantity,Price,Location,Exchange,Currency
0,NVDA,NVIDIA CORP,Information Technology,Equity,"1,066,994,615.04",6.39,"1,066,994,615.04","6,215,744.00",171.66,United States,NASDAQ,USD
1,MSFT,MICROSOFT CORP,Information Technology,Equity,"1,000,536,825.69",5.99,"1,000,536,825.69","1,969,677.00",507.97,United States,NASDAQ,USD
2,AAPL,APPLE INC,Information Technology,Equity,"938,729,828.14",5.62,"938,729,828.14","3,914,963.00",239.78,United States,NASDAQ,USD
3,AMZN,AMAZON COM INC,Consumer Discretionary,Equity,"600,426,381.12",3.60,"600,426,381.12","2,547,634.00",235.68,United States,NASDAQ,USD
4,META,META PLATFORMS INC CLASS A,Communication,Equity,"434,118,178.20",2.60,"434,118,178.20","579,868.00",748.65,United States,NASDAQ,USD

In [ ]:
# Ultimately we will want to save to a file
#df.to_csv('Russell_3000.csv',index=False)